.sidebarLeft{
    padding-top: 50px;
    width: 180px;
    max-width: 100%;
    height: calc(130vh - 137px);
    background-color: #000051;
    float: left;
}

.sideLeftBar-item { 
    display:grid;
    width: 180px;
    height: 40px;
    align-items:center;
    

}

.sideLeftBar-item:hover {
    background-color: blue;
}

p {
    margin: 0;
    padding-left: 15px;
    color: #fff;
    font-family: "Welcome";
}




