.table-wrap {

    width: 1300px;
    margin: 50px;
    table-layout: fixed;

}

.title {
    font-family: "Welcome";
    margin-bottom: 20px;
}

.check {
    height: 15px;
}

.sub-title{
    font-family: "Welcome";
    margin-bottom: 15px;
}

.total-orderlist-wrap {
    width: 100%;

}