.table-wrap {

    width: 100%;
    margin-top: 35px;
    margin-left: 230px;
    margin: 100px;
}

.title {
    margin-bottom: 20px;
}

.check {
    height: 15px;
}

.sub-title{
    margin-bottom: 15px;
}

.total-orderlist-wrap {
    width: 100%;

}