.sidebarRight{
    padding-top: 50px;
    width: 180px;
    height: calc(130vh - 137px);
    background-color: #000051;
    float: left;
}

.sideRightBar-item { 
    display:grid;
    width: 180px;
    height: 40px;
    align-items:center;
}